.main_header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px 0;
    border-radius: 98px;
    a {
        font-size: 24px;
        font-family: 'Segoe UI', Tahoma, sans-serif;
        color: rgb(230, 231, 137);
        &:hover {
            opacity: 0.7;
            transition: 50ms
        }
    }
    h1 {
        margin: 0;
        padding: 0 27px
    }
}