.about {
    .intro {
        padding-bottom: 50px;
        h2 {
            padding-bottom: 40px;
            margin: 0;
        }
        .info_about_me {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-direction: column;
            .info_column {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .profile_pic {
                    align-self: center;
                    padding-bottom: 25px;
                    img {
                        height: 180px;
                        width: 180px;
                    }
                }
                p {
                    font-size: 25px;
                }
            }
        }
    }
}

.skills_title {
    padding-top: 30px;
}

.skills {
    padding: 40px 0;
    display: -webkit-inline-box;
    .skill-icon {
        padding: {
            right: 14px;
            left: 14px;
        }
        img {
            max-height: 70px;
            max-width: 140px
        }
    }
}